# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary Word Lock & Fallback Files
~$*.docx
final_output/solved_*.docx

# Executables & Compiled Binaries
*.exe
*.out
*.app
*.class

# OS / Editor generated
.DS_Store
Thumbs.db
.idea/
.vscode/
